<?xml version="1.0" encoding="UTF-8"?>
<article>
<filename>{{ filename }}</filename>
<title>{{ title }}</title>
{% for page in pages %}
<page number="{{ page }}">{{ page }}</page>
{%- endfor %}
</article>