*.pyc
*.swp
*.swo
*.gz
*.bin
*.pickle
*.pickel
*.npy
*.xlsx
*.csv
*.log
*.zip
.env*
.env
.venv/
tmp/
__pycache__/
.pytest_cache/
output.xml
**/output/
**/data/
**/secrets/
data/
.ipynb_checkpoints/
.vscode/
.coverage
desktop.ini
nohup.out
clone/
output
log
lint-analysis
clone
archive
lib
whl
htmlcov
secrets/
userlist
.DS_Store
deprecated
/stopwords