[MASTER]
# init-hook="import sys, os; sys.path.append((lambda d: os.path.join(os.getcwd().split(d)[0], d))('text_analytics'))"
jobs=0

[MESSAGES CONTROL]

disable=invalid-name,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        line-too-long,
        pointless-string-statement,
        global-statement,
        c-extension-no-member,
        too-few-public-methods,
        logging-format-interpolation,
        logging-fstring-interpolation,
        consider-using-enumerate,
        unnecessary-comprehension,
        broad-except,
        wrong-import-order,
        duplicate-code,
        consider-using-f-string,
        unspecified-encoding,
        use-dict-literal,

[REPORTS]
score=no

[SPELLING]
max-spelling-suggestions=4

[VARIABLES]
#callbacks=cb_,
#          _cb

[DESIGN]

max-args=8

[MISCELLANEOUS]

notes=
#notes=FIXME, XXX, TODO

[EXCEPTIONS]

overgeneral-exceptions=builtins.BaseException
    #, Exception

