[MESSAGES CONTROL]
#enable=
disable=pointless-string-statement,
        global-statement,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        invalid-name,
        line-too-long,


[BASIC]
good-names=df

[DESIGN]
max-args=8