[MASTER]
init-hook="import sys, os; sys.path.append((lambda d: os.path.join(os.getcwd().split(d)[0], d))('text_analytics'))"
ignore-patterns=deprecated

[MESSAGES CONTROL]
#enable=
disable=pointless-string-statement,
        global-statement,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        invalid-name,
        line-too-long,
        R0801

[MISCELLANEOUS]

notes=
#notes=FIXME, XXX, TODO

[BASIC]

argument-naming-style=snake_case
attr-naming-style=snake_case

[DESIGN]
max-args=8

[EXCEPTIONS]

overgeneral-exceptions=BaseException
