[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
jupytext = "*"
pylint = "*"
rope = "*"
pytest = "*"
jupyterlab = "*"
black = "*"

[packages]
jupyter = "*"
spacy = "*"
textacy = "*"
bokeh = "*"
click = "*"
gensim = "*"
matplotlib = "*"
pandas = "*"
memoization = "*"
nltk = "*"
wordcloud = "*"
ftfy = "*"

[requires]
python_version = "3.8"
